Config/database.php
Config/core.php
tmp/*
tmp/cache/*
tmp/cache/models/*
tmp/cache/persistent/*
tmp/cache/views/*
tmp/sessions/*
tmp/logs/*
tmp/tests/*
Posts/*
Lib/Cake


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
*.esproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
